<div align="right">
	<form>
		Username: <input type="text" ng-model="uname"/><br/><br/>
		Password: <input type="text" ng-model="pword"/><br/><br/>
		Firstname: <input type="text" ng-model="fname"/><br/><br/>
		Lastname: <input type="text" ng-model="lname"/><br/><br/>
		Email: <input type="email" ng-model="email"/><br/><br/>
		Phone: <input type="text" ng-model="phone"/><br/><br/>
		Location: <input type="text" ng-model="loc"/><br/><br/>

		<button ng-model="sbmit" ng-click="SignUpClickEvent()"> Submit</button>
	</form>
</div>
